/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	font-family:'Baloo Bhaina', cursive;	
	line-height:20px;
}

body{
	background-image:url('../images/note-collage-3-1149131.jpg');
	background-repeat:repeat;
	background-size:cover;
}

#calendar{
	
	overflow:hidden;
	background-image:url('../images/felt-pattern.jpg');
	padding:20px;
	border-radius:5px;
	
	
}



header h1, #calendartitledisplay{
	
	text-align:center;
	font-size:250%;
	padding-top:30px;
	display:block;
	
	width:60%;
	margin:0 auto;
	background-image: url('../images/paper-background.jpg');
	border: 1px solid #ccc;
	border-radius:3px;
}

#calendartitledisplay .left{
	margin-right:20px;
	
}
#calendartitledisplay .right{
	margin-left:20px;
}

.topcalendarrow, .calendarrow{
	width:100%;
	
	
}
.calendarrow{
	overflow:visible;	
}



.calendaritem, .calendartitle{
	width: calc(100%/7);
	overflow-x:visible;
	overflow-y:visible;
	position:relative;
	height:75px;
	/*border:1px solid #000;*/
	float:left;
	transition:background 200ms;
}

.psuedoborder-xtopr,
.psuedoborder-xtopl,
.psuedoborder-xbotr,
.psuedoborder-xbotl,

.psuedoborder-yrtop,
.psuedoborder-yrbot,	
.psuedoborder-yltop,
.psuedoborder-ylbot{
	position:absolute;
	background:#323232;
	content:'';
	display:none;
}
.psuedoborder-xtopr{ display:block; top:0; right:0px; width:1px; height:26px;}
.psuedoborder-xtopl{ display:block; top:0; left:0px; width:1px; height:26px;}
.psuedoborder-xbotr{ display:block; top:48px; right:0px; width:1px; height:26px;}
.psuedoborder-xbotl{ display:block; top:48px; left:0px; width:1px; height:26px;}

.psuedoborder-yrtop{ display:block; top:0px; right:0px; height:1px; width:35%;}
.psuedoborder-yrbot{ display:block; bottom:0px; left:0px; height:1px; width:35%;}
.psuedoborder-yltop {display:block;	top:0px; right:0px; height:1px; width:35%;}
.psuedoborder-ylbot{ display:block; bottom:0px; left:0px; height:1px; width:35%;}

#calendarcontainer{
	
	
}



.calendaritem{
	position:relative;	
	transition:opacity 200ms;
	border-radius:4px;
}

.calendaritem:hover{
	cursor:pointer;
	opacity:1;
	/*background-color:#b5b5b5;*/
}

/*testing with backgrounds
top = bot; left = right. silly huh?


.puzzletopleft{
	background: url("../images/piece-bottom.gif"), url("../images/piece-right.gif");
	background-repeat:no-repeat, no-repeat;
	background-position: center top, 0 50%;
}
.puzzletopleft:hover{
	background: url("../images/piece-bottom-white.gif"), url("../images/piece-right-white.gif");
	background-repeat:no-repeat, no-repeat;
	background-position: center top, 0 50%;
}

.puzzletopright{
	background: url("../images/piece-bottom.gif"), url("../images/piece-left.gif");
	background-repeat:no-repeat, no-repeat;
	background-position: center top, 100% 50%;
	
}
.puzzletopright:hover{
	background: url("../images/piece-bottom-white.gif"), url("../images/piece-left-white.gif");
	background-repeat:no-repeat, no-repeat;
	background-position: center top, 100% 50%;
}
.puzzlebotleft{
	background: url("../images/piece-top.gif"), url("../images/piece-right.gif");
	background-repeat:no-repeat, no-repeat;
	background-position: center bottom, 0 50%;
}
.puzzlebotleft:hover{
	background: url("../images/piece-top-white.gif"), url("../images/piece-right-white.gif");
	background-repeat:no-repeat, no-repeat;
	background-position: center bottom, 0 50%;
}
.puzzlebotright{
	background: url("../images/piece-top.gif"), url("../images/piece-left.gif");
	background-repeat:no-repeat, no-repeat;
	background-position: center bottom, 100% 50%;
}
.puzzlebotright:hover{
	background: url("../images/piece-top-white.gif"), url("../images/piece-left-white.gif");
	background-repeat:no-repeat, no-repeat;
	background-position: center bottom, 100% 50%;
}
*/

/*testing puzzle pieces with images */

.puzzletab{
	position:absolute;	
	z-index:1;
}
.none{
	display:none;
}

.top{
	width:44px;
	top:-32px;
	left:0px;
	right:0px;
	margin-left: auto;
	margin-right: auto;
}

.bottom{
	width:44px;
	bottom:-29px;
	left:0px;
	right:0px;
	margin-left: auto;
	margin-right: auto;
}
.left{
	height:44px;
	right:-30px;
	top:0px;
	bottom:0px;
	margin-top:auto;
	margin-bottom:auto;
}

.right{
	height:44px;
	
	left:-31px;
	top:0px;
	bottom:0px;
	margin-top:auto;
	margin-bottom:auto;
}



.calendaritem:hover .date, .calendaritem:hover .monthreminder{
	color:#fff;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	
    
	
}

.calendaritem:hover .monthreminder{
	border:none;
}

.calendartitle{
	border:none;
	text-align:center;
	padding-top:15px;
	height:auto;
	margin-bottom:15px;
	background:#ffffa5;
	
	overflow:visible;
	position:relative;
}

.calendartitle:after{
	content:'';
	position:absolute;
	right:0px;
	bottom:0;
	border-width: 5px 5px 5px 5px;
  	border-style: solid;
  	border-color: #d6d68b #35875d #35875d #d6d68b;
  	transition:border-width 200ms;
}

.calendartitle:hover::after{
	border-width:0;	
}

.monday{
	transform:rotate(5deg);
}
.tuesday{
	transform:rotate(-5deg);
}
.wednesday{
	transform:rotate(5deg);
}
.thursday{
	transform:rotate(-5deg);
}
.friday{
	transform:rotate(5deg);
}

.saturday{
	transform:rotate(-5deg);
}
.sunday{
	transform:rotate(-5deg);
}

.weekend{
	/*background:#fAfAfA;	*/
	
}

#calendar .calendarrow .calendartitle{
	background:none;
}


.clear{
	clear:both;
}

.date{
	text-align:center;
	padding-top:3px;
	display:block;
	width:25px;
	float:left;
	border-top:0;
	border-left:0;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}


.offfocus{
	color:#9a9a9a;
	
	
		
}


.col1, .col2{
	float:left;
	margin-right:2%;	
	width:64%;
	padding-top:20px;
	
	
}



.col2{
	width:34%;	
	margin-right:0;
	padding-top:100px;
	
}

#tasks{
	padding:20px;
	background:url('../images/leather.jpg');
	
	position:relative;
}

#tasks:before,#tasks:after{
	
	content:'';
	position:absolute;
	top:0;
	border-width: 5px 5px 5px 5px;
	border-style:solid;
	border-color: #EEC900 #EEC900 #000 #000;
	 
}
#tasks:before{
	left:0;
	border-color: #EEC900 #000 #000 #EEC900;
}
#tasks:after{
	right:0;
}

#tasks .title{
	text-align:center;
	font-size: 125%;
	border-bottom:2px solid #c9c9c9;
	
	margin-bottom:20px;
}

#tasks .itinerary{
	padding:10px;
	background:#dedede;	
	min-height:150px;
}
#taskswrap{
	padding:20px;
	background-image:url('../images/white-paper-background.jpg');
	border-left:9px solid #c1c1c1;
}

#tasks .itinerary li{
	margin-bottom:5px;
	
	
}

.reminder{
	font-size:80%;
	padding:5px;
}

.calendarskip{
	display:inline-block;
	width:50px;	
	/*css3 no select*/
	user-select: none;
	-moz-user-select: none;
}

.calendarskip:hover{
	cursor:pointer;
	color:blue;
}



.monthreminder{
	font-size:15px;
	width:20px;
	/*line-height:15px;*/
	padding-top:5px;
	padding-left:2px;
	float:left;
}

.calendaritem .date, .calendaritem .monthreminder{
	/*css3 no select*/
	user-select: none;
	-moz-user-select: none;
}

header{
	position:relative;
}

header .infotab{
	
	font-size:80%;
	padding:5px;
	display:block;
	line-height:50px;
	position:absolute;
	color:#ff71c1;
	background:#111;
	width:200px;
	height:50px;
	border-radius: 0 5px 5px 0;
	top: 30px;
	left:-170px;
	transition: left .5s;
}

header .infotab:hover{
	left:0px;
}

.infotab #usericon{
	position:absolute;
	top:15px;
	right:10px;
	font-size:30px;
}


.holiday, .holiday:before, .holiday:after{
	position:absolute;
	text-align:center;
	width:100px;
	height:100px;
	border-radius:50%;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	line-height:50px;
	top:-10px;
	font-size:17px;
	line-height:100px;
	color:#fff;
	border:1px solid #FF4136; 
}

.holiday:before{
	content:'';
	top:4px;
	left:3px;
}
.holiday:after{
	content:'';
	top:7px;
	right:3px;
}


.displaytab{
	overflow:visible;
}

.taskdescription{
	width:100%;	
}
.subtitle{
	padding-top:30px;
	text-align:left;
	font-size:20px;
	margin-bottom:20px;
}

.inputtitle{
	margin-right:5px;
}

#taskswrap input{
	width:200px;
	border:1px solid #ccc;
	height:25px;	
	padding-left:5px;
	margin-bottom:15px;
}
#taskswrap select{
	width:75px;
	border:1px solid #ccc;
	margin-right:10px;
}

#taskswrap button{
	width:75px;
	height:30px;
	border-radius:5px;
	background:#4CAF50;
	color:#fff;
	
	border:1px solid #c0c0c0;
	font-weight:bold;
	font-style:inherit;
	font-size:15px;
	cursor:pointer;
	transition:background:200ms;
}

#taskswrap button:hover{
	background:	#3A863E;
	
}

.time{
	color:#e21d4b;
	margin-right:15px;
}
.description{
}

.del{
	display:inline-block;
	margin-right:10px;
	cursor:pointer;
}
	